<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Cantata One' rel='stylesheet'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #217ff3;">
        <div class="container" style="padding: 10px;">
            <div class="navbar-header" style="height: 80px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="container">
                    <img src="~/Content/Images/DFA.png" alt="Home" height="75" width="75" />
                    <span style="color:#ffffffc9;font-size: 12px;position: relative;top: -20px;left: 15px;">REPUBLIC OF THE PHILIPPINES</span>
                    <div style="background-color:#ffffffc9;height:2px;width: 424px;position: relative;top: -50px;left: 94px;"></div>
                    <span style="color:#fffffffc;font-weight:bold;font-size: 24px;position: relative;top: -50px;left: 93px;">DEPARTMENT OF FOREIGN AFFAIRS</span>
                    <span style="color: #ffffffc9;font-size: 12px;position: relative;top: -32px;left: -337px;">2330 ROXAS BOULEVARD, PASAY CITY, PHILIPPINES 1300</span>
                </div>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div>
                            @Html.ActionLink("Home", "Index", "Home")
                        </div>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
                @*@Html.Partial("_LoginPartial")*@
            @*</div>*@
        </div>
    </div>
    <div class="container body-content" style="font-family: 'Cantata One';">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
