@model SchedSystem.Models.RegisterViewModel
<style>
    #registrationForm .form-control {
        max-width: none !important;
    }

    #registrationForm label {
        font-size: 14px;
        font-weight: 500;
        color: #9a9a9a;
    }
</style>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row" style="margin-top:60px">
        <div class="col-md-3 col-sm-3">

        </div>
        <div class="col-md-6 col-sm-6">
            <section id="registrationForm" class="form-control-font" style="border: 1px solid #b7b7b7;">
                <div style="background-color: #217ff3;color: white;height: 35px;">
                    <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Account Registration</p>
                </div>
                <div style="padding-left: 20px;padding-right: 20px;">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-3">
                                @Html.LabelFor(m => m.FirstName)
                            </div>
                            <div class="col-md-9 col-sm-9">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-3">
                                @Html.LabelFor(m => m.MiddleName, new { @class = "control-label" })
                            </div>
                            <div class="col-md-9 col-sm-9">
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-3">
                                @Html.LabelFor(m => m.LastName)
                            </div>
                            <div class="col-md-9 col-sm-9">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-3">
                                @Html.LabelFor(m => m.Suffix)
                            </div>
                            <div class="col-md-9 col-sm-9">
                                @Html.TextBoxFor(m => m.Suffix, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Suffix, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-3">
                                @Html.LabelFor(m => m.Address)
                            </div>
                            <div class="col-md-9 col-sm-9">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-3 col-sm-3">
                                @Html.LabelFor(m => m.Citizenship)
                            </div>
                            <div class="col-md-9 col-sm-9">
                                @Html.TextBoxFor(m => m.Citizenship, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Citizenship, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-sm-5">
                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.DateOfBirth)
                            </div>
                            <div class="col-md-12 col-sm-12">
                                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.Sex)
                            </div>
                            <div class="col-md-12 col-sm-12">
                                @Html.TextBoxFor(m => m.Sex, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Sex, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="col-md-12 col-sm-12">
                                @Html.LabelFor(m => m.ContactNumber)
                            </div>
                            <div class="col-md-12 col-sm-12">
                                @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ContactNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-4">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            </div>
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-4">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            </div>
                            <div class="col-md-8 col-sm-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-4">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            </div>
                            <div class="col-md-8 col-sm-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12" style="text-align: center;">
                            <input type="checkbox" name="verify" value="verify" />
                            <span style="font-style:italic; font-size: 12px;color: #9a9a9a;">I hereby certify that the above information is true and correct.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6">
                            <input type="submit" class="btn btn-default pull-right" value="Back" style="background-color:#217ff3; color: white;font-size: 14px;width:120px;" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input type="submit" class="btn btn-default pull-left" value="Submit" style="background-color:#217ff3; color: white;font-size: 14px;width:120px;" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-sm-3">

        </div>
    </div>
    @Html.AntiForgeryToken()


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
